footer {
	text-align:center;
	padding-bottom:50px;
	padding-top: 50px;
	border-top: double 10px;
	}
.xflegftr {
	padding-left:100px;
}
.ftrimg {
	width: 25%; 
  user-select:none;
}
.nftclndr {
  width: 25%;
  user-select:none;
} 
.seenon {
	padding-left:50px;
	font-size:2vw;
	float:right;
}
	
