footer {
	padding-top: 50px;
	padding bottom: 50px;
	border-top: double 10px;
	text-align:center;
}
.ftrimg {
  width: 25%; 
  user-select:none;
}
.nftclndr {
  padding left: 150px;
  width: 15%; 
  user-select:none;
} 
